@import "../../scss/colors.scss";

footer {
  width: 100%;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  color: $white;

  .icono-flotante {
    position: fixed;
    bottom: 20px; 
    right: 20px; 

  }


  height: 10rem;
  h2 {
    margin-left: 6rem;
  }

  ul {
    display: flex;

    li {
      margin-right: 2rem;

      a {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
