@import "../../../scss/colors.scss";

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .imageCarouselContainer {
    height: 100%;
    object-fit: fill;
    .carousel-image{
      border-radius: 10px;
    }
  }
  .carousel-button {
    position: absolute;
    background-color: $transparent;
    cursor: pointer;
    width: 2rem;
    height: 2.5rem;
    border: none;
   .arrow{
    z-index: 3;
   } 
}
}
