@import "../../../../scss/colors.scss";

.section4 {
  background-color: $grey;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .imageSect4Container {
    padding-top: 2rem;
    width: 60%;
    height: auto
  }
}
