.LayoutWrapper {
  a {
    cursor: pointer;
  }
  .FloatIcon {
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    justify-content: center;

    display: flex;

    background-color: black;
    border-radius: 20px;
    padding: 15px 33px;

    .FloatIconImg {
      width: 3rem;
      position: absolute;
      top: 24px;
      left: -15px;
    }
  }

  .text {
    color: white;
    display: flex;
    margin: auto;
  }
}
