@import "../../assets/scss/colors.scss";
@import "../../assets/scss/fonts.scss";

footer {
  background-color: $black;
  color: $white;

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
  }

  .card {
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    min-width: 300px;

    padding: 30px;
    margin: 10px;
  //  width: 45% !important;
 //   margin: 10px !important;
  }

  h2 {
    margin-top: -20px;
    font-weight: 300;
    font-family: $headline;
    margin-bottom: 10px;

    font-size: 25px;
  }

  p {
    margin-bottom: 20px;

    font-size: 14px;

    a {
      font-size: 18px;
      text-decoration: underline;
      // font-family: $headline;
    }
  }

  .imagenes {
    margin-bottom: 20px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;

    li {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .imagenes {
    align-items: center;
  }
}
