@import "../../../../scss/colors.scss";

.section3 {
  background-color: $black;
  height: 24rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2rem;
  #title {
    color: $white;
  }

  .cardSection {
    width: 100%;
    display: flex;
    //  flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;

    .cardSect3 {
      color: $black;
      font-size: 15px;

      &:nth-child(1) {
        background-color: $white;
        

        h2 {
          font-size: 25px;
        }
      }
      &:nth-child(2) {
        background-color: $acent-color2;

        h2 {
          font-size: 25px;
        }

        
      }

      &:nth-child(3) {
        background-color: $secondary-color;


        h2 {
          font-size: 25px;
        }
      }
      &:nth-child(4) {
        background-color: $acent-color;

        h2 {
          font-size: 25px;
        }
      }
    }
  }
}
